.edit_profile {
  color:#000000;
}
/* .edit_profile img{
  width: 7.5%;
  margin-left: 19rem;
  margin-top: -40px;
} */

.edit_profile form {
  display: flex;
  flex-direction: column;
}

.edit_profile label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
.edit_profile label > select {
  border: 1px solid rgb(205, 205, 205);
  padding: .8rem;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  outline: none;
}
.edit_profile input[type="text"],
.edit_profile input[type="email"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
}

.edit_profile button {
    width: 100%;
    padding: .8rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(238,112,112);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

