.edit_profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ebe9e9;
  border-radius: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
img{
  width: 8%;
  margin-left: 19.6rem;
  margin-top: -40px;
}

.edit_profile form {
  display: flex;
  flex-direction: column;
}

.edit_profile label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}

.edit_profile input[type="text"],
.edit_profile input[type="email"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
}

.edit_profile button {
    width: 100%;
    padding: .8rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(238,112,112);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

