/* Footer styles */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  background-color: rgb(31, 37, 53);
  color: #fff;
}

.logo_side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.social_media {
  display: flex;
  gap: 1rem;
}

.social_media a {
  color: #fff;
  font-size: larger;
}

.important_links {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.important_links a {
  color: #ffffff;
}

.signup_footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #efefef;
  margin: .5rem;
}

.signup_footer input[type="email"] {
  padding: 1rem;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 250px;
  margin-right: -5px;
}

.signup_footer button[type="submit"] {
  background-color: #262828;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.copyright {
  background-color: #c8c9c9;
  text-align: center;
}

/* Media query for small screens */
@media (min-width:380px) and (max-width: 980px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .logo_side,
  .important_links,
  .signup_footer {
    margin-top: 0;
  }
  .signup_footer {
    margin:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .signup_footer input[type="email"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .logo_side {
    gap: 0rem;
  }
  
}
