.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .4rem;
    height: 10vh;
}
.logo{
  padding-left: 3rem;
}
.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #11deae;
 
}
.nav-link {
  color: #000000;
  display: block;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
  padding: 0 0 2px;
  border-left: 3px solid #11deae;
  border-right: 3px solid #11deae;
  border-radius: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* @media (min-width:380px) and (max-width: 980px){
  .main-nav{
    border: 1px solid red;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  .logo{
    padding-left: .5rem;
  }
} */

@media (min-width: 380px) and (max-width: 980px) {
  .navbar__list {
    display: none;
    flex-direction: column;
    background-color: #f8f8f8;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
  }

  .navbar__item {
    width: 100%;
    padding: 0.5rem;
  }

  .navbar__link {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    color: #333;
    transition: all 0.2s ease-in-out;
  }

  .navbar__link:hover,
  .navbar__link.active {
    color: #0077ff;
  }

  .navbar__menu-btn {
    display: block
