.browse-container{
    display: flex;
    background-color: #e5e5e5;
    height: 80vh;
    margin-bottom: .5rem;
    text-align: center;
}
.left-container{
    background-color: green;
}
.center-container{
    
}
.right-container{

}