.main-container{
    max-width: 100vw;
    justify-content: space-between;
}

.submit-image{
    padding: 1rem;
    width: 10vw;
    margin-left: 1620px;
    backcolor: rgb(247, 158, 4);
}
.first-cont{
    display: flex;
}