.main-container{
    max-width: 100vw;
    justify-content: space-between;
}

.submit-image{
    padding: 1.2rem;
    width: 10vw;
    margin-left: 1520px;
    color: rgb(71, 71, 71);
    border-radius: 40px;
    background-color: rgb(222,135,71);
    outline: none;
    border: none;
}
.submit-image:hover,
.submit-image:focus{
    background-color: rgb(164, 127, 64);
}
.home-content{
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-around;
}
.home-content-inner{
    padding-bottom: 1rem;
}
.home-button button{
    /* border-radius: 30px;
    padding: 20px 50px;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(0,0,0,0.1); */
    background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.home-button button:hover{
    transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.home-button button::after{
}
.first-cont{
    display: flex;
    margin-top: 0.7rem;
    justify-content: space-around;
}
span{
    font-size: 1.5rem;
    line-height: 1.3;
}
.home-image img{
    width: 20vw;
}
.patent button{
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 50rem;
    margin-bottom: .5rem;
    padding: 10px 50px;
    border-radius: 2.2rem;
    border: 1px solid #ccc;
}
