.main-container{
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-between;
}
.button-cont{
}
. button{
    margin-right: -50%;
    padding: 1rem;
}
.first-cont{
    display: flex;
}