.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button-cont{
    width: 20%;
    border: 1px solid red;
}
.button-cont button{
    margin-right: -50%;
}