.carousel-container {
  position: relative;
  /* max-width: 600px;/ */
  /* margin: 0 auto; */
}

.carousel .slide img {
  display: block;
  width: 100px;
  height: 100px;
}

.button-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prev-button,
.next-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.prev-button:hover,
.next-button:hover {
  opacity: 0.8;
}

.prev-button {
  margin-left: 10px;
}

.next-button {
  margin-right: 10px;
}
